go 1.20

use ./osmomath

use ./osmoutils

use ./x/ibc-hooks

use ./tests/cl-go-client

use ./tests/cl-genesis-positions

use .

use ./x/epochs

replace github.com/cosmos/cosmos-sdk => github.com/graphprotocol/cosmos-sdk v0.45.0-rc1.0.20231213102421-02b329ad4f10

replace github.com/tendermint/tendermint => github.com/graphprotocol/tendermint v0.34.24-fh-test
